%h1
  #{trip.try(:title)}, #{trip.event.try(:title)}
%p
  = trip.date.to_formatted_s(:long_ordinal)
%ul
  - trip.clients.each do |client|
    - if client == client_compare
    -else
      - client_compare = client
      %li
        #{client.last_name}, #{client.first_name}
        %p
          = client.email
        %p
          = client.phone
        %p
          #{client.tickets_purchased} tickets purchased