%h1.headline
  admin login
.span4
  = form_tag sessions_path do
    .field
      = label_tag :email
      = text_field_tag :email, params[:email]
    .field
      = label_tag :password
      = password_field_tag :password
    %br
    .actions
      = submit_tag "Log in", class: 'btn btn-large btn-danger'
  .clearfix
  %p
    = link_to "Forgot Password?", '#', id: 'forgot', class: 'btn btn-success'
  %p
    = link_to "Nevermind!", '#', id: 'nevermind', class: 'btn btn-success'
  #forgotform
    = render 'forgot_password_form'