%h1.headline
  = event.title
%p.pull-right.goback
  = link_to "back to event listings", events_path
%img
  - event.photos.each do |photo|
    - if photo.primary_for_event?
      = image_tag photo.photo.headline, class: 'img-polaroid'
%p.description
  = event.description
.maxheight
  %table.table
    %thead
      %tr
        %th.span3 Date
        %th.span3 Price
        %th.span3 Spots Available
        %th.span3
    %tbody
      %td
        - event.trips.sort_by!{|e| e[:date]}
        - event.trips.each do |e|
          - if e.date > Date.today + 1
            %tr
              %td
                = e.title
              %td
                = number_to_currency(e.price)
              - if e.spots_available > 0
                %td
                  #{pluralize(e.spots_available, 'spots')} available
                %td
                  = form_tag '/request-reservation' do
                    = hidden_field_tag :trip_id, e.id
                    = submit_tag "Reserve Now", class: 'btn btn-success'
              - else
                %td
                  SOLD OUT
                %td

%hr