#myCarousel.carousel.slide
  .carousel-inner
    - if home_images[0]
      .active.item
        %img
          = image_tag(home_images[0].photo.homepage, class: 'center')
    - if home_images[1]
      .item
        %img
          = image_tag(home_images[1].photo.homepage, class: 'center')
    - if home_images[2]
      .item
        %img
          = image_tag(home_images[2].photo.homepage, class: 'center')
  / Carousel nav
  %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
  %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;
#cta
  = link_to "FIND A RIDE NOW!", events_path, class: "mybtn btn btn-success"

#hometext
  - home_texts.each do |text|
    - if text.visible?
      = text.content.html_safe