%h1.headline
  have a question?
%h2
  for special group rates and reservations, please call 646-258-0112
.span4
  %form.form-horizontal
  = form_for contact do |f|
    = f.label :first_name
    = f.text_field :first_name
    = f.label :last_name
    = f.text_field :last_name
    = f.label :email
    = f.email_field :email
    = f.label :phone
    = f.telephone_field :phone
    = f.label :message, "Your message"
    = f.text_area :message, rows: 15, class: 'input-xxlarge'
    = f.submit "send message", class: 'btn btn-large btn-success'