%h1.headline
  have a question?
%h2
  for special group rates and reservations, please call 646-258-0112
%hr
.span6
  %form.form-horizontal
  = form_for contact do |f|
    .control-group
      .control-label
        = f.label :first_name
      .controls
        = f.text_field :first_name
    .control-group
      .control-label
        = f.label :last_name
      .controls
        = f.text_field :last_name
    .control-group
      .control-label
        = f.label :email
      .controls
        = f.email_field :email
    .control-group
      .control-label
        = f.label :phone
      .controls
        = f.telephone_field :phone
    .control-group
      .control-label
        = f.label :message, "Your message"
      .controls
        = f.text_area :message, cols: 20, rows: 10
    .controls
      = f.submit "send message", class: 'btn btn-large btn-success'