%h1.headline
  reviews
%p.pull-right
  = link_to "submit your review", new_review_path, class: 'btn btn-success'
.paddtop
.subheader
  %p.lead
    Pour & Pedal bike tours are awesome! But don't take our word for it; here's what our clients have to say..
.paddtop
- reviews.each do |review|
  .explainer
    - if review.featured?
      %p.lead
        = review.content
    - else
      %p
      = review.content
    %h3
      - if review.hometown.blank?
        #{review.name}
      - else
        #{review.name}, #{review.hometown}
  %hr
.center
  = paginate reviews
.paddtop
%hr