- provide(:title, location.name)
%h1.headline
  = location.name
%p
  - location.photos.each do |photo|
    = image_tag photo.photo.headline, class: 'img-polaroid'
%p
  = location.description
%h2
  our events
- location_events(location)
- if @events.present?
  - @events.each do |event|
    .span3.eventlisting
      %h3
        = link_to event.title, event
      %img
        - event.photos.each do |photo|
          - if photo.primary_for_location?
            = link_to (image_tag photo.photo.medium, class: 'img-polaroid'), event_path(event)
    .span8
      .eventdescription.explainer
        = truncate event.description, length: 500
        = link_to 'read more', event
- else
  %h2.explainer
    We're sorry, there aren't yet any events at this location.