%footer
  %nav
    %ul
      %li
        = link_to "About", about_path
      %li
        = link_to "Faqs", faq_path
      %li
        = link_to "Reviews", '#'
      %li
        = link_to "Events", events_path
      %li
        = link_to "Locations", locations_path
      %li
        = link_to "Contact", new_contact_path
      %li
        = link_to "Policies", '#'
  .clearfix
  %small
    &copy 2013 pour & pedal