%footer
  %nav
    %ul
      %li{:class => "#{'active' if current_page?(about_path)}"}=link_to "About", about_path
      %li{:class => "#{'active' if current_page?(faq_path)}"}=link_to "Faqs", faq_path
      %li{:class => "#{'active' if current_page?(photos_path)}"}=link_to "Gallery", photos_path
      %li{:class => "#{'active' if current_page?(reviews_path)}"}=link_to "Reviews", reviews_path
      %li{:class => "#{'active' if current_page?(events_path)}"}=link_to "Events", events_path
      %li{:class => "#{'active' if current_page?(locations_path)}"}=link_to "Locations", locations_path
      %li{:class => "#{'active' if current_page?(new_contact_path)}"}=link_to "Contact", new_contact_path
  .clearfix
  %small
    &copy 2013 pour & pedal