%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag('pourpedal_header_logo.png'), root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li
            = link_to "About", about_path
          %li
            = link_to "Faqs", faq_path
          %li
            = link_to "Events", events_path
          %li
            = link_to "Locations", locations_path
          %li
            %a{"data-toggle" => "modal", :href => "#myModal", :role => "button"} Redeem
          - if logged_in? && current_user.admin?
            %li
              = link_to "Admin", '/admin'
            %li
              = link_to "Sign out", logout_path
#myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Enter your redemption code
  .modal-body
    %p
      = form_tag '/codes' do
        = text_field_tag :code
        %hr
        = submit_tag "Submit", class: 'btn btn-success pull-right'