!!!
%html
  %head
    = render 'layouts/typekit'
    %title
      = full_title(yield(:title))
    = stylesheet_link_tag    'application'
    = javascript_include_tag 'application', 'sparkle', 'home'
    = csrf_meta_tags
    = yield :head
    /[if IE]
      = javascript_include_tag 'html5'
  %body
    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    #wrap
      = render 'layouts/header'
      #main
        .container
          = render 'flashes'
          = yield
      #push
      #footer
        = render 'layouts/footer'
