!!!
%html
  %head
    %meta{:content => "text/html;charset=iso-8859-1", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
    %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
    %link{:href => "http://fonts.googleapis.com/css?family=Gochi+Hand", :rel => "stylesheet", :type => "text/css"}/
    = render 'layouts/typekit'
    %title [TITLE]
    = stylesheet_link_tag    'application', 'gallery'
    = stylesheet_link_tag 'application', 'mobile' if mobile_device?
    = javascript_include_tag 'application', 'gallery'
    = csrf_meta_tags
    = yield :head
    /[if IE]
      = javascript_include_tag 'html5'
  %body
    #page
      = render 'layouts/header'
      #main
        .container

          = yield
      = render 'layouts/footer'
